hairLength white yellow green red blue brown black
glasses green yellow
facialHair white yellow blue red
eyeColor brown blue green
pimples white yellow green red blue brown black
hat white yellow green red blue brown black
hairColor white black brown red blue
noseShape white yellow green red black
faceShape white black green red blue brown
 
P1
hairLength black
glasses white
facialHair brown
eyeColor green
pimples white
hat brown
hairColor green
noseShape yellow
faceShape red
 
P2
hairLength blue
glasses brown
facialHair white
eyeColor white
pimples green
hat brown
hairColor green
noseShape white
faceShape white
 
P3
hairLength brown
glasses brown
facialHair blue
eyeColor white
pimples green
hat brown
hairColor black
noseShape red
faceShape yellow
 
P4
hairLength red
glasses white
facialHair brown
eyeColor red
pimples blue
hat red
hairColor brown
noseShape yellow
faceShape yellow
 
P5
hairLength red
glasses green
facialHair blue
eyeColor blue
pimples black
hat red
hairColor black
noseShape blue
faceShape blue
 
P6
hairLength yellow
glasses red
facialHair black
eyeColor green
pimples green
hat yellow
hairColor green
noseShape brown
faceShape white
 
P7
hairLength yellow
glasses green
facialHair brown
eyeColor red
pimples red
hat yellow
hairColor blue
noseShape green
faceShape red
 
P8
hairLength brown
glasses brown
facialHair brown
eyeColor black
pimples yellow
hat green
hairColor yellow
noseShape blue
faceShape white
 
P9
hairLength green
glasses blue
facialHair green
eyeColor red
pimples brown
hat white
hairColor blue
noseShape red
faceShape brown
 
P10
hairLength brown
glasses black
facialHair white
eyeColor green
pimples white
hat green
hairColor white
noseShape brown
faceShape brown
 
P11
hairLength white
glasses green
facialHair black
eyeColor white
pimples black
hat black
hairColor brown
noseShape white
faceShape red
 
P12
hairLength green
glasses green
facialHair green
eyeColor blue
pimples green
hat yellow
hairColor white
noseShape green
faceShape yellow
 
P13
hairLength white
glasses white
facialHair green
eyeColor white
pimples black
hat yellow
hairColor blue
noseShape red
faceShape brown
 
P14
hairLength blue
glasses red
facialHair white
eyeColor blue
pimples green
hat green
hairColor yellow
noseShape brown
faceShape brown
 
P15
hairLength brown
glasses white
facialHair green
eyeColor blue
pimples white
hat blue
hairColor white
noseShape green
faceShape green
 
P16
hairLength brown
glasses brown
facialHair black
eyeColor yellow
pimples black
hat white
hairColor brown
noseShape blue
faceShape yellow
 
P17
hairLength red
glasses red
facialHair blue
eyeColor brown
pimples white
hat black
hairColor brown
noseShape yellow
faceShape white
 
P18
hairLength white
glasses brown
facialHair yellow
eyeColor white
pimples black
hat white
hairColor black
noseShape yellow
faceShape blue
 
P19
hairLength yellow
glasses blue
facialHair green
eyeColor white
pimples red
hat yellow
hairColor brown
noseShape green
faceShape brown
 
P20
hairLength white
glasses red
facialHair green
eyeColor green
pimples blue
hat red
hairColor white
noseShape yellow
faceShape yellow
 
P21
hairLength red
glasses yellow
facialHair brown
eyeColor blue
pimples white
hat red
hairColor yellow
noseShape red
faceShape red
 
P22
hairLength brown
glasses black
facialHair brown
eyeColor white
pimples brown
hat black
hairColor yellow
noseShape white
faceShape green
 
P23
hairLength red
glasses blue
facialHair white
eyeColor green
pimples green
hat yellow
hairColor black
noseShape white
faceShape blue
 
P24
hairLength green
glasses yellow
facialHair blue
eyeColor brown
pimples white
hat yellow
hairColor blue
noseShape white
faceShape white
 
P25
hairLength blue
glasses red
facialHair blue
eyeColor white
pimples white
hat blue
hairColor black
noseShape black
faceShape yellow
 
P26
hairLength green
glasses white
facialHair black
eyeColor black
pimples blue
hat brown
hairColor yellow
noseShape blue
faceShape blue
 
P27
hairLength red
glasses blue
facialHair brown
eyeColor yellow
pimples green
hat red
hairColor green
noseShape red
faceShape green
 
P28
hairLength black
glasses green
facialHair brown
eyeColor brown
pimples brown
hat red
hairColor red
noseShape black
faceShape black
 
P29
hairLength blue
glasses blue
facialHair white
eyeColor yellow
pimples blue
hat green
hairColor blue
noseShape white
faceShape blue
 
P30
hairLength green
glasses red
facialHair yellow
eyeColor red
pimples yellow
hat yellow
hairColor white
noseShape blue
faceShape yellow
 
P31
hairLength yellow
glasses brown
facialHair yellow
eyeColor brown
pimples yellow
hat white
hairColor green
noseShape green
faceShape brown
 
P32
hairLength red
glasses black
facialHair red
eyeColor yellow
pimples green
hat yellow
hairColor white
noseShape red
faceShape brown
 
P33
hairLength green
glasses red
facialHair yellow
eyeColor blue
pimples blue
hat white
hairColor yellow
noseShape red
faceShape blue
 
P34
hairLength black
glasses black
facialHair green
eyeColor brown
pimples red
hat white
hairColor red
noseShape yellow
faceShape green
 
P35
hairLength yellow
glasses blue
facialHair blue
eyeColor red
pimples red
hat brown
hairColor brown
noseShape black
faceShape white
 
P36
hairLength yellow
glasses red
facialHair white
eyeColor brown
pimples brown
hat red
hairColor brown
noseShape green
faceShape red
 
P37
hairLength black
glasses yellow
facialHair white
eyeColor blue
pimples brown
hat white
hairColor green
noseShape brown
faceShape green
 
P38
hairLength red
glasses brown
facialHair red
eyeColor yellow
pimples black
hat green
hairColor white
noseShape white
faceShape green
 
P39
hairLength yellow
glasses white
facialHair yellow
eyeColor brown
pimples brown
hat white
hairColor green
noseShape black
faceShape red
 
P40
hairLength blue
glasses black
facialHair red
eyeColor red
pimples green
hat yellow
hairColor black
noseShape brown
faceShape red
 
P41
hairLength black
glasses green
facialHair black
eyeColor blue
pimples blue
hat green
hairColor yellow
noseShape blue
faceShape red
 
P42
hairLength black
glasses blue
facialHair black
eyeColor brown
pimples green
hat red
hairColor green
noseShape red
faceShape brown
 
P43
hairLength white
glasses brown
facialHair brown
eyeColor blue
pimples black
hat red
hairColor white
noseShape black
faceShape white
 
P44
hairLength yellow
glasses red
facialHair white
eyeColor green
pimples yellow
hat red
hairColor black
noseShape yellow
faceShape green
 
P45
hairLength blue
glasses brown
facialHair red
eyeColor black
pimples yellow
hat blue
hairColor green
noseShape brown
faceShape brown
 
P46
hairLength white
glasses brown
facialHair brown
eyeColor white
pimples white
hat brown
hairColor red
noseShape yellow
faceShape red
 
P47
hairLength green
glasses green
facialHair blue
eyeColor blue
pimples red
hat black
hairColor white
noseShape yellow
faceShape blue
 
P48
hairLength blue
glasses red
facialHair green
eyeColor brown
pimples black
hat green
hairColor black
noseShape blue
faceShape black
 
P49
hairLength yellow
glasses white
facialHair black
eyeColor blue
pimples brown
hat black
hairColor red
noseShape brown
faceShape black
 
P50
hairLength white
glasses white
facialHair red
eyeColor blue
pimples red
hat black
hairColor blue
noseShape white
faceShape green
 
P51
hairLength brown
glasses white
facialHair green
eyeColor green
pimples brown
hat red
hairColor green
noseShape green
faceShape brown
 
P52
hairLength green
glasses white
facialHair green
eyeColor black
pimples yellow
hat brown
hairColor black
noseShape white
faceShape green
 
P53
hairLength red
glasses green
facialHair black
eyeColor blue
pimples red
hat brown
hairColor white
noseShape white
faceShape white
 
P54
hairLength brown
glasses green
facialHair green
eyeColor green
pimples black
hat green
hairColor yellow
noseShape black
faceShape green
 
P55
hairLength black
glasses green
facialHair yellow
eyeColor yellow
pimples green
hat green
hairColor brown
noseShape yellow
faceShape white
 
P56
hairLength green
glasses white
facialHair blue
eyeColor green
pimples white
hat green
hairColor blue
noseShape brown
faceShape yellow
 
P57
hairLength green
glasses blue
facialHair yellow
eyeColor black
pimples red
hat brown
hairColor green
noseShape blue
faceShape green
 
P58
hairLength red
glasses white
facialHair blue
eyeColor green
pimples green
hat white
hairColor brown
noseShape black
faceShape red
 
P59
hairLength blue
glasses green
facialHair green
eyeColor blue
pimples brown
hat white
hairColor green
noseShape red
faceShape green
 
P60
hairLength black
glasses white
facialHair blue
eyeColor green
pimples blue
hat brown
hairColor green
noseShape yellow
faceShape red
 
P61
hairLength white
glasses brown
facialHair yellow
eyeColor yellow
pimples brown
hat green
hairColor black
noseShape yellow
faceShape yellow
 
P62
hairLength black
glasses yellow
facialHair yellow
eyeColor yellow
pimples black
hat white
hairColor blue
noseShape black
faceShape blue
 
P63
hairLength red
glasses brown
facialHair black
eyeColor green
pimples green
hat black
hairColor black
noseShape blue
faceShape blue
 
P64
hairLength red
glasses white
facialHair blue
eyeColor yellow
pimples blue
hat brown
hairColor yellow
noseShape black
faceShape white
 
P65
hairLength green
glasses black
facialHair red
eyeColor yellow
pimples black
hat black
hairColor brown
noseShape red
faceShape brown
 
P66
hairLength yellow
glasses white
facialHair brown
eyeColor yellow
pimples black
hat black
hairColor blue
noseShape black
faceShape green
 
P67
hairLength brown
glasses red
facialHair black
eyeColor yellow
pimples white
hat brown
hairColor brown
noseShape blue
faceShape blue
 
P68
hairLength blue
glasses white
facialHair blue
eyeColor yellow
pimples blue
hat white
hairColor blue
noseShape blue
faceShape green
 
P69
hairLength black
glasses blue
facialHair blue
eyeColor red
pimples white
hat green
hairColor green
noseShape brown
faceShape green
 
P70
hairLength black
glasses black
facialHair blue
eyeColor black
pimples blue
hat brown
hairColor blue
noseShape green
faceShape green
 
P71
hairLength blue
glasses black
facialHair green
eyeColor yellow
pimples blue
hat white
hairColor white
noseShape yellow
faceShape red
 
P72
hairLength green
glasses red
facialHair black
eyeColor green
pimples yellow
hat white
hairColor black
noseShape brown
faceShape brown
 
P73
hairLength blue
glasses white
facialHair yellow
eyeColor white
pimples blue
hat yellow
hairColor yellow
noseShape brown
faceShape yellow
 
P74
hairLength brown
glasses white
facialHair red
eyeColor green
pimples red
hat brown
hairColor red
noseShape green
faceShape yellow
 
P75
hairLength blue
glasses blue
facialHair brown
eyeColor green
pimples green
hat white
hairColor red
noseShape yellow
faceShape white
 
P76
hairLength black
glasses white
facialHair yellow
eyeColor blue
pimples green
hat black
hairColor red
noseShape blue
faceShape black
 
P77
hairLength red
glasses black
facialHair yellow
eyeColor blue
pimples blue
hat yellow
hairColor white
noseShape blue
faceShape brown
 
P78
hairLength white
glasses brown
facialHair red
eyeColor white
pimples yellow
hat white
hairColor red
noseShape green
faceShape blue
 
P79
hairLength white
glasses brown
facialHair green
eyeColor black
pimples blue
hat green
hairColor red
noseShape white
faceShape green
 
P80
hairLength black
glasses blue
facialHair yellow
eyeColor black
pimples black
hat green
hairColor yellow
noseShape yellow
faceShape yellow
 
P81
hairLength green
glasses red
facialHair yellow
eyeColor red
pimples blue
hat white
hairColor green
noseShape brown
faceShape black
 
P82
hairLength blue
glasses blue
facialHair black
eyeColor brown
pimples brown
hat white
hairColor yellow
noseShape brown
faceShape green
 
P83
hairLength white
glasses red
facialHair blue
eyeColor yellow
pimples white
hat yellow
hairColor brown
noseShape yellow
faceShape green
 
P84
hairLength white
glasses black
facialHair brown
eyeColor red
pimples brown
hat white
hairColor red
noseShape yellow
faceShape blue
 
P85
hairLength red
glasses white
facialHair green
eyeColor blue
pimples black
hat red
hairColor brown
noseShape brown
faceShape white
 
P86
hairLength white
glasses red
facialHair red
eyeColor red
pimples red
hat yellow
hairColor green
noseShape red
faceShape black
 
P87
hairLength red
glasses brown
facialHair brown
eyeColor green
pimples yellow
hat brown
hairColor red
noseShape yellow
faceShape red
 
P88
hairLength green
glasses brown
facialHair blue
eyeColor green
pimples blue
hat green
hairColor yellow
noseShape red
faceShape brown
 
P89
hairLength red
glasses brown
facialHair red
eyeColor green
pimples brown
hat yellow
hairColor green
noseShape red
faceShape yellow
 
P90
hairLength blue
glasses yellow
facialHair brown
eyeColor blue
pimples black
hat blue
hairColor green
noseShape yellow
faceShape yellow
 
P91
hairLength green
glasses green
facialHair red
eyeColor blue
pimples black
hat white
hairColor blue
noseShape green
faceShape black
 
P92
hairLength yellow
glasses brown
facialHair yellow
eyeColor white
pimples white
hat yellow
hairColor brown
noseShape yellow
faceShape brown
 
P93
hairLength blue
glasses yellow
facialHair red
eyeColor white
pimples red
hat black
hairColor black
noseShape brown
faceShape white
 
P94
hairLength yellow
glasses white
facialHair green
eyeColor blue
pimples yellow
hat blue
hairColor yellow
noseShape white
faceShape yellow
 
P95
hairLength yellow
glasses black
facialHair red
eyeColor brown
pimples red
hat white
hairColor green
noseShape blue
faceShape black
 
P96
hairLength brown
glasses brown
facialHair brown
eyeColor brown
pimples brown
hat blue
hairColor black
noseShape yellow
faceShape yellow
 
P97
hairLength black
glasses white
facialHair yellow
eyeColor yellow
pimples white
hat green
hairColor black
noseShape green
faceShape black
 
P98
hairLength black
glasses brown
facialHair yellow
eyeColor red
pimples red
hat white
hairColor blue
noseShape black
faceShape white
 
P99
hairLength white
glasses white
facialHair white
eyeColor green
pimples yellow
hat brown
hairColor red
noseShape black
faceShape brown
 
P100
hairLength green
glasses red
facialHair blue
eyeColor brown
pimples yellow
hat black
hairColor red
noseShape black
faceShape yellow
 
