hairLength none short medium long
glasses none contacts lenses
facialHair none stuble medium long
eyeColor brown blue green red yellow
pimples none some lots
hat on off
hairColor white black brown red blue green yellow
noseShape small medium large
faceShape square circle rectangle triangle 

P1
hairLength short
glasses none
facialHair stuble
eyeColor brown
pimples lots
hat off
hairColor white
noseShape large
faceShape triangle

P2
hairLength none
glasses none
facialHair long
eyeColor green
pimples some
hat on
hairColor brown
noseShape small
faceShape circle

P3
hairLength long
glasses contacts
facialHair long
eyeColor blue
pimples none
hat on
hairColor red
noseShape medium
faceShape rectangle

P4
hairLength medium
glasses lenses
facialHair none
eyeColor blue
pimples lots
hat off
hairColor red
noseShape medium
faceShape square

P5
hairLength short
glasses none
facialHair long
eyeColor yellow
pimples some
hat on
hairColor brown
noseShape small
faceShape triangle

P6
hairLength long
glasses lenses
facialHair medium
eyeColor brown
pimples none
hat on
hairColor brown
noseShape large
faceShape square

P7
hairLength medium
glasses contacts
facialHair long
eyeColor red
pimples lots
hat off
hairColor brown
noseShape medium
faceShape circle

P8
hairLength none
glasses none
facialHair none
eyeColor blue
pimples none
hat off
hairColor brown
noseShape small
faceShape square

P9
hairLength long
glasses lenses
facialHair long
eyeColor red
pimples lots
hat on
hairColor red
noseShape long
faceShape triangle

P10
hairLength none
glasses none
facialHair stuble
eyeColor red
pimples some
hat off
hairColor brown
noseShape medium
faceShape rectangle
