hairLength white yellow green red blue brown black
glasses green yellow
facialHair white yellow blue red
eyeColor brown blue green
pimples white yellow green red blue brown black
hat white yellow green red blue brown black
hairColor white black brown red blue
noseShape white yellow green red black
faceShape white black green red blue brown

P1
hairLength green
glasses red
facialHair blue
eyeColor green
pimples white
hat yellow
hairColor yellow
noseShape green
faceShape black
 
P2
hairLength black
glasses brown
facialHair red
eyeColor blue
pimples brown
hat blue
hairColor yellow
noseShape white
faceShape brown
 
P3
hairLength yellow
glasses brown
facialHair yellow
eyeColor red
pimples brown
hat yellow
hairColor black
noseShape white
faceShape black
 
P4
hairLength blue
glasses yellow
facialHair brown
eyeColor red
pimples yellow
hat red
hairColor green
noseShape black
faceShape red
 
P5
hairLength blue
glasses white
facialHair black
eyeColor yellow
pimples red
hat red
hairColor yellow
noseShape green
faceShape red
 
P6
hairLength black
glasses black
facialHair green
eyeColor white
pimples green
hat blue
hairColor yellow
noseShape green
faceShape yellow
 
P7
hairLength yellow
glasses brown
facialHair green
eyeColor brown
pimples brown
hat yellow
hairColor blue
noseShape brown
faceShape red
 
P8
hairLength yellow
glasses blue
facialHair green
eyeColor red
pimples red
hat red
hairColor blue
noseShape red
faceShape white
 
P9
hairLength green
glasses brown
facialHair blue
eyeColor black
pimples black
hat brown
hairColor black
noseShape green
faceShape green
 
P10
hairLength brown
glasses brown
facialHair green
eyeColor yellow
pimples red
hat brown
hairColor yellow
noseShape yellow
faceShape brown
 
P11
hairLength blue
glasses black
facialHair green
eyeColor white
pimples brown
hat brown
hairColor green
noseShape yellow
faceShape blue
 
P12
hairLength yellow
glasses yellow
facialHair yellow
eyeColor white
pimples black
hat blue
hairColor brown
noseShape red
faceShape green
 
P13
hairLength green
glasses yellow
facialHair black
eyeColor red
pimples red
hat green
hairColor blue
noseShape brown
faceShape white
 
P14
hairLength red
glasses blue
facialHair brown
eyeColor brown
pimples red
hat yellow
hairColor yellow
noseShape red
faceShape green
 
P15
hairLength green
glasses red
facialHair green
eyeColor black
pimples brown
hat red
hairColor brown
noseShape green
faceShape blue
 
P16
hairLength brown
glasses blue
facialHair white
eyeColor green
pimples yellow
hat black
hairColor brown
noseShape blue
faceShape white
 
P17
hairLength brown
glasses blue
facialHair red
eyeColor yellow
pimples white
hat green
hairColor green
noseShape yellow
faceShape yellow
 
P18
hairLength black
glasses brown
facialHair red
eyeColor green
pimples white
hat black
hairColor green
noseShape white
faceShape brown
 
P19
hairLength red
glasses yellow
facialHair green
eyeColor brown
pimples yellow
hat brown
hairColor white
noseShape green
faceShape white
 
P20
hairLength brown
glasses brown
facialHair red
eyeColor blue
pimples yellow
hat brown
hairColor yellow
noseShape yellow
faceShape brown
 
P21
hairLength white
glasses white
facialHair blue
eyeColor blue
pimples red
hat white
hairColor yellow
noseShape black
faceShape white
 
P22
hairLength blue
glasses yellow
facialHair white
eyeColor red
pimples black
hat brown
hairColor blue
noseShape white
faceShape brown
 
P23
hairLength white
glasses brown
facialHair yellow
eyeColor red
pimples red
hat yellow
hairColor white
noseShape red
faceShape black
 
P24
hairLength red
glasses white
facialHair brown
eyeColor white
pimples red
hat black
hairColor green
noseShape black
faceShape yellow
 
P25
hairLength white
glasses black
facialHair brown
eyeColor blue
pimples brown
hat white
hairColor yellow
noseShape brown
faceShape red
 
P26
hairLength yellow
glasses black
facialHair brown
eyeColor blue
pimples blue
hat green
hairColor yellow
noseShape yellow
faceShape blue
 
P27
hairLength blue
glasses black
facialHair green
eyeColor red
pimples black
hat white
hairColor brown
noseShape brown
faceShape red
 
P28
hairLength white
glasses brown
facialHair green
eyeColor black
pimples brown
hat green
hairColor black
noseShape red
faceShape white
 
P29
hairLength black
glasses brown
facialHair blue
eyeColor white
pimples red
hat blue
hairColor white
noseShape red
faceShape yellow
 
P30
hairLength white
glasses yellow
facialHair black
eyeColor red
pimples brown
hat red
hairColor black
noseShape green
faceShape red
 