hairLength white yellow green red blue brown black
glasses green yellow
facialHair white yellow blue red
eyeColor brown blue green
pimples white yellow green red blue brown black
hat white yellow green red blue brown black
hairColor white black brown red blue
noseShape white yellow green red black
faceShape white black green red blue brown

P1
hairLength blue
glasses blue
facialHair green
eyeColor black
pimples white
hat red
hairColor yellow
noseShape yellow
faceShape brown
 
P2
hairLength blue
glasses blue
facialHair white
eyeColor black
pimples yellow
hat green
hairColor blue
noseShape yellow
faceShape yellow
 
P3
hairLength white
glasses black
facialHair blue
eyeColor black
pimples white
hat white
hairColor red
noseShape yellow
faceShape brown
 
P4
hairLength brown
glasses red
facialHair blue
eyeColor black
pimples red
hat black
hairColor red
noseShape yellow
faceShape red
 
P5
hairLength red
glasses blue
facialHair white
eyeColor blue
pimples yellow
hat green
hairColor white
noseShape white
faceShape green
 
P6
hairLength blue
glasses white
facialHair brown
eyeColor blue
pimples red
hat red
hairColor blue
noseShape black
faceShape brown
 
P7
hairLength black
glasses red
facialHair white
eyeColor white
pimples blue
hat yellow
hairColor black
noseShape brown
faceShape white
 
P8
hairLength blue
glasses red
facialHair white
eyeColor blue
pimples red
hat white
hairColor brown
noseShape blue
faceShape white
 
P9
hairLength brown
glasses black
facialHair black
eyeColor brown
pimples black
hat black
hairColor green
noseShape red
faceShape blue
 
P10
hairLength yellow
glasses red
facialHair red
eyeColor red
pimples black
hat blue
hairColor black
noseShape black
faceShape brown
 
P11
hairLength red
glasses yellow
facialHair white
eyeColor blue
pimples white
hat green
hairColor yellow
noseShape yellow
faceShape red
 
P12
hairLength white
glasses white
facialHair brown
eyeColor red
pimples blue
hat brown
hairColor red
noseShape red
faceShape white
 
P13
hairLength black
glasses white
facialHair white
eyeColor yellow
pimples white
hat red
hairColor yellow
noseShape blue
faceShape brown
 
P14
hairLength white
glasses white
facialHair green
eyeColor yellow
pimples black
hat white
hairColor blue
noseShape brown
faceShape black
 
P15
hairLength blue
glasses red
facialHair white
eyeColor yellow
pimples white
hat black
hairColor brown
noseShape yellow
faceShape red
 
P16
hairLength green
glasses red
facialHair green
eyeColor brown
pimples green
hat yellow
hairColor brown
noseShape green
faceShape green
 
P17
hairLength red
glasses yellow
facialHair brown
eyeColor white
pimples red
hat blue
hairColor red
noseShape white
faceShape red
 
P18
hairLength white
glasses brown
facialHair black
eyeColor white
pimples yellow
hat blue
hairColor green
noseShape yellow
faceShape brown
 
P19
hairLength green
glasses yellow
facialHair brown
eyeColor black
pimples green
hat white
hairColor yellow
noseShape brown
faceShape blue
 
P20
hairLength black
glasses blue
facialHair white
eyeColor blue
pimples blue
hat blue
hairColor brown
noseShape brown
faceShape blue
 
P21
hairLength blue
glasses brown
facialHair green
eyeColor black
pimples black
hat brown
hairColor yellow
noseShape white
faceShape green
 
P22
hairLength yellow
glasses black
facialHair brown
eyeColor yellow
pimples black
hat yellow
hairColor brown
noseShape blue
faceShape blue
 
P23
hairLength black
glasses yellow
facialHair brown
eyeColor brown
pimples brown
hat white
hairColor red
noseShape brown
faceShape brown
 
P24
hairLength brown
glasses black
facialHair black
eyeColor brown
pimples yellow
hat yellow
hairColor blue
noseShape green
faceShape white
 
P25
hairLength red
glasses brown
facialHair red
eyeColor green
pimples yellow
hat blue
hairColor black
noseShape red
faceShape red
 
P26
hairLength red
glasses black
facialHair brown
eyeColor black
pimples green
hat red
hairColor blue
noseShape white
faceShape brown
 
P27
hairLength brown
glasses white
facialHair white
eyeColor red
pimples blue
hat yellow
hairColor white
noseShape white
faceShape yellow
 
P28
hairLength black
glasses green
facialHair yellow
eyeColor green
pimples black
hat black
hairColor black
noseShape black
faceShape brown
 
P29
hairLength yellow
glasses blue
facialHair green
eyeColor black
pimples yellow
hat yellow
hairColor black
noseShape white
faceShape white
 
P30
hairLength black
glasses brown
facialHair yellow
eyeColor white
pimples white
hat yellow
hairColor blue
noseShape yellow
faceShape black